@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,400&display=swap");

@media only screen and (max-width: 600px) {
  body {
    background-color: #fb9c37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: "center";
    margin-top: 20%;
    text-align: center;
  }

  .banner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  img {
    width: 100%;
    height: 60%;
  }
  .font {
    font-family: "Arvo", serif;
  }
  .frase {
    margin-top: 10%;
    font-size: 210%;
    color: #2b2b2b;
  }

  .contato {
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 70%;
    align-items: center;
  }

  .icon {
    width: 35px;
    height: 25px;
    margin: 10px;
  }
}

@media only screen and (min-width: 601px) {
  body {
    background-color: #fb9c37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: "center";
    margin-top: 10%;
    text-align: center;
  }

  .banner {
    display: flex;
    justify-content: center;
  }
  img {
    width: 50%;
    height: 33%;
  }
  .font {
    font-family: "Arvo", serif;
  }
  .frase {
    font-size: 250%;
    color: #2b2b2b;
  }

  .contato {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 100%;
    margin-right: 5%;
    margin-bottom: 10%;
    align-items: center;
  }

  .icon {
    width: 45px;
    height: 35px;
    margin: 10px;
  }
}
